* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 1em/1.5 'Varela Round', arial, helvetica, sans-serif;
    background-color: seagreen;
    color: #ffffff;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

h1 {
    text-align: center;
    margin: 3rem auto;
}

a {
    color: inherit;
    text-decoration: none;
}


.field {
    background-color: rgba(0,0,0,0.2);
    border-radius: 8px;
    box-shadow: inset 0 0 8px 2px rgba(0,0,0,0.2), 0 2px 5px rgba(255,255,255,0.2);
}

#restart {
    margin-top: 1.5rem;
}

#restart img {
    width: 35px;
    vertical-align: text-top;
}

.show #restart img {
    animation: spin 2.5s ease-out;
}


#site {
    margin: 0 auto;
    width: 90%;
    max-width: 1250px;
}

#memorycard-wrap {
    width: 100%;
    padding: 3rem 3rem 1.5rem;
    position: relative;
}
    

#memorycard-wrap:after {
    content: "";
    display: block;
    clear: both;
}

#memorycard-container {
    list-style-type: none;
    
}

#memorycard-container li img {
    max-height: 110px;
    max-width: 100%;
    vertical-align: middle;
}

#memorycard-container li {
    float: left;
    width: 23.5%;
    margin-left: 2%;
    margin-bottom: 2%;
    text-align: center;
    line-height: 150px;
    color: #333;
    cursor: pointer;
    position: relative;
    perspective: 1200px;
}

#memorycard-container li .card__inner {
    min-height: 150px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    transition: transform 1s cubic-bezier(.55,-.62, .27, 1.2);
    transform-style: preserve-3d;
}

#memorycard-container li .card__backside {    
    background-color: #4183D7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    backface-visibility: hidden;
}

#memorycard-container li .card__image {
    background-color: darkslategray;
    border: 8px solid white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#memorycard-container li.open .card__inner,
#memorycard-container li.debug .card__inner {
    transform: rotateY(-180deg);
}


#memorycard-container li:nth-child(4n+1) {
    margin-left: 0;
}

#results {
    position: absolute;
    top: -120px;
    left: 0;
    padding: 12px 24px;
}

#game-over {
    font-size: 2em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.85);
    opacity: 0;
    z-index: -1;
    transition: 500ms;
}


#game-over.show {
    opacity: 1;
    z-index: 10;
}

.game-over__card {
    background-color: #fff;
    color: #333;
    margin: 3rem auto;
    padding: 3rem;
    width: 80%;
    max-width: 750px;
}





@keyframes spin {
    100% {
        transform: rotate(1800deg);
    }
}